p
  strong Nombre:
  = @document_type.name
br
= link_to 'Editar', edit_document_type_path(@document_type), class: 'btn btn-primary'
| |
= link_to 'Atrás', document_types_path, class: 'btn btn-warning'
