<h1>Editing Vehicle</h1>
<%
  calcular_dias_soat = 6
  calcular_dias_rtm= 6

  unless @vehicle.vencimiento_soat.blank?
  calcular_dias_soat = ( (Date.parse @vehicle.vencimiento_soat.to_s) - (Date.parse Time.now.to_s) ).to_i
  calcular_dias_rtm = ( (Date.parse @vehicle.vencimiento_rtm.to_s) - (Date.parse Time.now.to_s) ).to_i
  end

  if calcular_dias_soat <= 0 && calcular_dias_rtm <= 0
%>

  <div class="alert alert-danger" role="alert">
    Las fechas de SOAT y RTM están vencidas
  </div>

<% elsif calcular_dias_soat <= 0 %>

  <div class="alert alert-danger" role="alert">
    La fecha de SOAT está vencida
  </div>

<% elsif calcular_dias_rtm <= 0 %>

  <div class="alert alert-danger" role="alert">
    La fecha de RTM está vencida
  </div>

<% end %>

<% if (calcular_dias_soat >= 1 && calcular_dias_soat <= 5) && (calcular_dias_rtm >= 1 && calcular_dias_rtm <= 5) %>

  <div class="alert alert-warning" role="alert">
    Las fechas de SOAT y RTM están proximas a vencer
  </div>

  <% elsif calcular_dias_soat >= 1 && calcular_dias_soat <= 5 %>

  <div class="alert alert-warning" role="alert">
    La fecha de SOAT está proxima a vencer
  </div>

  <% elsif calcular_dias_rtm >= 1 && calcular_dias_rtm <= 5%>

  <div class="alert alert-warning" role="alert">
    La fecha de RTM está proxima a vencer
  </div>

<% end %>

<%= render 'form', vehicle: @vehicle %>
