h1 Editar Transacción

= link_to 'Crear PDF', transaction_path(@transaction, :format => :pdf), class: 'btn btn-primary'
| |
.btn_clip_board.btn.btn-primary
  | Copiar

= render 'form', transaction: @transaction
