<! DOCTYPE html>
<html>
  <head>
    <title> Vehicles </title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Vehiculo</h1>
    <br>
    <h3>Información General</h3>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>