<! DOCTYPE html>
<html>
  <head>
    <title> PDF </title>
    <meta charset="utf-8">
    <%= wicked_pdf_stylesheet_pack_tag("application") %>
  </head>
  <style>
    body {
      font-size: 15px;
    }

    th, td {
      font-size: 13px;
      padding: 5px;
    }

    table, th, td {
      border: 1px solid black;
    }

    table {
      width: 100%;
    }

    .paid {
      width: 80px;
    }
  </style>
  <body>
    <div class='container'>
      <% if !current_user.enterprise.pictures.first.nil? %>
        <% if current_user.enterprise.pictures.first.image? %>
          <div class="row">
            <%= image_tag(embed_remote_image("#{Rails.root}/public#{current_user.enterprise.pictures.first.image.small_thumb.url}",'image/'), alt:'Logo')%>
            <h1> <%= current_user.enterprise.name %></h1>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>